<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="CtapOdataEntities" connectionString="metadata=res://*/CTAPODataModel.CtapDataModel.csdl|res://*/CTAPODataModel.CtapDataModel.ssdl|res://*/CTAPODataModel.CtapDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsrv\devsql;initial catalog=CRM3;persist security info=True;user id=devuser;password=njucrho;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="LogServiceDBEntities" connectionString="metadata=res://*/LogServiceDB.LogServiceDB.csdl|res://*/LogServiceDB.LogServiceDB.ssdl|res://*/LogServiceDB.LogServiceDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsrv\devsql;initial catalog=LogServiceDB;persist security info=True;user id=devuser;password=njucrho;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>